body {
	margin:0;
	font-family:arial;
	font-size: 12px;.
}
.topo {
	width: 100%;
	height:30px;
	background-color:#666;
	color:#FFF;
}
.topoint {
	width: 100%;
	max-width: 1042px;
	height: 30px;
	margin:auto;
}
.topoleft {
	width:50%;
	height:30px;
	float: left;
}
.toporight {
	width:50%;
	height:28px;
	float:right;
	text-align: right;
	margin-top: 2px;
}
.topoleft ul {
	margin:0;
	padding:0;
	list-style:none;
}
.topoleft li {
	height: 30px;
	line-height: 30px;
	text-align:center;
	float: left;
	margin-left: 8px;
	margin-right:8px;
}
.topoleft li a {
	text-decoration:none;
	color:white;
}
.topoleft li .ativo {
	color:#5b94b7;
}
.topobusca {
	width: 110px;
	height: 26px;
	outline: 0;
	border-radius: 5px;
	margin-right: 3px;
}
.toporight a {
	float:right;
}
.toporight input {
	float:right;
}
.toporight img {
	margin-right: 4px;
}
.topo2 {

}
.topoint2 {
	width: 100%;
	max-width: 1042px;
	height:99px;
	margin:auto;
	
}
.logo {
	width:230px;
	height:91px;
	float:left;	
	margin-top: 8px;
}
.topo2 .banner {
	width:630px;
	height: 80px;
	float: right;
	margin-top: 9.5px;
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
}
.menu {
	height:40px;
	background-color: green;
}
.menuint {
	width:100%;
	max-width: 1024px;
	height: 40px;
	line-height:40px;
	margin: auto;
	
}
.menu ul {
	margin: 0;
	padding:0;
	list-style: none;
}
.menu li {
	float:left;
	padding-left: 8px;
	padding-right: 8px;
}
.menu li:hover .submenu{
	display: block;
}
.menu a {
	color:#FFF;
	text-decoration: none;
}
.submenu {
	width: 150px;
	background-color: green;
	position: absolute;
	display: none;
}
.submenuitem {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.submenuitem:hover {
	background-color: #067003;
}
.ultimasnoticias {
	height: 40px;
}
.ultimasnoticiasint {
	width: 100%;
	max-width: 1042px;
	height: 40px;
	margin: auto;
}
.ultnoticiasarea {
	height: 28px;
	background-color:#FFF;
	border: 1px solid #CCC;
	margin-top: 10px;
	line-height: 28px;
}
.ultnoticiastitulo {
	height: 28px;
	background-color: green;
	color: #FFF;
	display: inline-block;
	padding-left: 10px;
	padding-right:10px;
	font-size: 16px;
}
.ultnoticiastexto {
	color: #000;
	height: 28px;
	line-height:28px;
	display:inline-block;
	padding-left:5px;
}
.containerint {
	width:100%;
	max-width: 1042px;
	margin: auto;
}
.rightside {
	width: 275px;
	min-height: 200px;
	float:right;
	margin-left: 12px;
}
.leftside {
	width: 100%;
	max-width: 755px;
	float: left;
}
.widget {
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
}
.widget_titulo {
	height: 30px;
	border-bottom:1px solid #CCC;
	line-height: 30px;
	padding-left:5px;
	font-size: 14px;
	background: #ddd;
}
.widget_conteudo{
	text-align: center;
	padding-top:5px; 
	padding-bottom: 5px;
}
.noticia_item {
	font-size: 14px;
	margin:0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom:1px solid #ccc;
}
.noticia_item a {
	text-decoration: none;
	color:#000;
}
.slideshow {
	height:335px;
	background-color: #CCC;
	overflow: hidden;
	margin-bottom:20px;
}
.slideshowarea {
	width: 100000px;
	height: 335px;
	background-color: #DDD;
	transition:all 1s;
}
.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.slideinfo {
	height: 70px;
	background-image:url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 265px;
}
.slideinfo_titulo {
	font-size: 20px;
	color: #FFF;
	padding-top: 15px;
	padding-left: 15px;
}
.slideinfo_subtitulo {
	font-size: 13px;
	color:#FFF;
	padding-left: 15px;
}
.slide_selection {
	position:absolute;
	width:200px;
	height:20px;
	
}
.selector {
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	background-color:#999;
	border-radius:10px;
}
.noticiaarea1 {
	width: 430px;
	height:420px;
	float:left;
}
.noticiaarea2 {
	width:323px;
	height: 420px;
	float: left;
}
.noticiaitem {
	text-align:left;
	height: 88px;
	margin-top:7px;
	margin-bottom:7px;
}
.noticiaimg {
	width: 80px;
	height: 80px;
	border:1px solid #ccc;
	padding:3px;
	float: left;
}
.noticiatitulo {
	width: 228px;
	margin-left: 6px;
	font-size: 16px;
	float: left;
}
.noticiainfo {
	width: 228px;
	font-size: 12px;
	margin-left: 6px;
	color:#999;
	float: left;
}
.noticiabig {
	margin-left: 10px
}
.noticiabig .noticiaimg {
	width: 384px;
	height: 222px;
}
.noticiabig .noticiaimg img {
	width: 384px;
	height: 222px;
}
.noticiabig .noticiatitulo {
	width: 384px;
	font-size:30px;
	color: #000;
}
.menumobile {
	display: none;
}

@media only screen and (min-width:910px) and (max-width:1060px) {
		.topoint,
		.topoint2,
		.menuint,
		.ultimasnoticiasint,
		.containerint {
			max-width: 890px;
		}
		.leftside {
			width: 600px;
		}
		.noticiaarea1 {
			width: 275px;
		}
		.noticiabig .noticiaimg {
			width: 245px;
			height: 185px;
		}
		.noticiabig .noticiaimg img {
			width:245px;
			height: 185px;
		}
		.noticiabig .noticiatitulo {
			width: 245px;
			font-size: 21px;
		}
}
@media only screen and (min-width:772px) and (max-width:910px) {
		.topoint,
		.topoint2,
		.menuint,
		.ultimasnoticiasint,
		.containerint {
			max-width: 768px;
		}
		.topo2 .banner {
			display:none;
		}
		.logo {
			float:none;
			margin:auto;
		}
		.rightside {
			display:none;
		}
		.leftside {
			float: none;
			width:auto;
		}
		.noticiaarea1 {
			width: 430px;
		}
		.noticiabig .noticiaimg {
			width: 400px;
			height: 185px;
		}
		.noticiabig .noticiaimg img {
			width:400px;
			height: 185px;
		}
		.noticiabig .noticiatitulo {
			width: 400px;
			font-size: 24px;
		}
}
@media only screen and (max-width:772px) {
		.topoint,
		.topoint2,
		.menuint,
		.ultimasnoticiasint,
		.containerint {
			max-width: 320px;
		}
		.topoleft {
			display:none;
		}
		.toporight{
			width:100%;
		}
		.topo2 .banner {
			display:none;
		}
		.menumobile {
			display:block;
		}
		.menu ul {
			position:absolute;
			background-color: green;
			z-index: 10;
			display: none;
		}
		.menu li {
			float:none;
			height: auto;
		}
		.menu li img {
			display:none;
		}
		.submenu {
			position:static;
			display:block;
		}
		.logo {
			float:none;
			margin:auto;
		}
		.ultimasnoticias {
			display: none;
		}
		.rightside {
			display:none;
		}
		.leftside {
			float: none;
			width:auto;
			margin-top: 10px;
		}
		.noticiaarea1 {
			width: 320px;
			height: auto;
		}
		.noticiabig .noticiaimg {
			width: 290px;
			height: 185px;
		}
		.noticiabig .noticiaimg img {
			width:290px;
			height: 185px;
		}
		.noticiabig .noticiatitulo {
			width: 290px;
			font-size: 21px;
		}
		.noticiaarea2 {
			width: 300px;
			float:none;
			margin:auto;
			clear:both;
			padding-top: 20px
		}
		.noticiatitulo{
			width: 206px;
		}
		.noticiaitem {
			clear: both;
		}
		.noticiainfo {
			width: 206px
		}
}
