* {
	font-family: Arial;
}
body {
	margin:0;
	padding: 0;
}
header {
	display:flex;
	justify-content:center;
	background-color: #f2f3f5;
}
section {
	display: flex;
	justify-content:center;
}
footer {
	display: flex;
	justify-content:center;
	background-color: #38675e;
}
.container {
	display: flex;
	justify-content:space-between;
	width: 860px;
}
.contact {
	display: flex;
	margin-left: 5px;
}
.head_bar_contact{
	margin-top: 10px;
	display: flex;
	margin-right: 20px;
	flex:1;
}
.phone {
	padding-right: 5px;
}
.head_bar_email {
	margin-top: 10px;
	display: flex;
	flex:1;
}
.head_bar_email a {
	text-decoration-style:dotted;
	color:#000000;
}
.email {
	padding-right: 5px;
}
.social {
	display:flex;
}
.head_bar_facebook {
	margin: 10px;
}
.head_bar_youtube {
	margin-top: 10px;
}
.logo{
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
}
nav ul,
nav li {
	padding:0;
	margin: 0; 
	list-style: none;
}
nav ul {
	display:flex;
}

.menu {
	display: flex;
	align-items:center;
}
nav a {
	text-decoration: none;
	padding-right:10px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #959597;
}
nav .active a,
nav a:hover {
	background-color: #276057;
	color:#FFFFFF;
    transition: 1s;
}
#banner {
	display: flex;
	justify-content:center;
	background-image:url('../images/background2.jpg');
	background-position: center;
	background-size: cover;
	height: 335px;
}
.banner_title_area {
	display: flex;
	flex-direction:column;
	position: absolute;
	right: 0;
	margin-right: 235px;
	
}
.banner_title {
	margin-top: 35px;
	font-size: 22px;
	color: #FFFFFF;
}
.banner_title h1 {
	padding: 0;
	margin:0;
	margin-bottom: 30px;
	text-shadow:0px 2px 0px #000000;
}
.title_bar {
	width: 88px;
	height:3px;
	background-color: #347476;
}
.banner_text {
	color: #FFFFFF;
	font-family: 15px;
	line-height: 19px;
	text-shadow:0px 1px 0px #000000;
	margin-top: 35px;
}
.button {
	display: flex;
	justify-content:space-between;
	margin-top: 22px;
	width: 140px;
	height: 35px;
	padding-left: 30px;
	line-height: 35px;
	text-align: center;
	background-color: #47a3ae;
	color: #FFFFFF;
	font-size: 13px;
	border-radius: 5px;
}
.button a {
	text-decoration: none;
	color: #FFFFFF;
	display:inline-block;
}
.button_bar {
	height: 20px;
	width: 1px;
	box-shadow: 1px 1px 1px #000000;
	background-color:#959597;
	margin-top:8px;
}
.arrow img {
	padding-right: 20px;
	padding-top: 10px;
}
#geral {
	display: flex;
	justify-content:center;
}
.balls_area {
	display: flex;
	justify-content:space-between;
	width: 860px;
	margin-right:60px; 
	margin-left:60px;
}
.ball_bg1 {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #2a5e59;	
}
.ball_bg2 {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #48a5ad;
}
.ball_bg3 {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #4ca390;
}
.ball_bg4 {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #bcbdbf;
}
.ball_bg5 {
	margin-top: 30px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #acd0ac;
}
.ball_bg1 img {
	padding:10px;
}
.ball_bg2 img {
	padding:7px;
}
.ball_bg3 img {
	padding:10px;
}
.ball_bg4 img {
	padding:8px;
}
.ball_bg5 img {
	padding:10px;
}
#ball_texts {
	display:flex;
	justify-content:center;
}
.ball_texts_area {
	display:flex;
	justify-content:space-between;
	width: 860px;
	margin-bottom: 30px;
}
.text_1,
.text_2,
.text_3,
.text_4,
.text_5 {
	font-size: 14px;
}
.text_1 {
	margin-top: 20px;
	margin-left:54px;
	margin-right: 50px;
	color: #2a5e59;
		
}
.text_2 {
	margin-top: 20px;
	margin-left: 6px;
	margin-right: 4px;
	color:#48a5ad;
}
.text_3 {
	margin-top: 20px;
	margin-left: 57px;
	color:#4ca390;
}
.text_4 {
	margin-top: 20px;
	margin-left: 51px;
	color:#bcbdbf;		
}
.text_5 {
	margin-top: 20px;
	margin-right: 12px;
	color:#acd0ac;
}

.widget_area {
	display:flex;
	justify-content:space-between;
	width: 860px;
	margin-top: 35
}
.widget_title h1 {
	color:#FFFFFF;
	font-size: 22px;
}
.widget_subtitle div {
	color:#FFFFFF;
	font-size: 13px;
}
.widget_text_area {
	width: 200px;
}
.widget_text_area a {
	text-decoration: none;
}
.widget_subtitle  article {
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 22px;
}
article a {
	text-decoration: none;
	color:#FFFFFF;
}
article a:hover{
    text-decoration: underline;
}
.widget2_text {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 15;
	font-weight: bold;
}
.put_email {
	display: block;
	margin-top: 3px;
	width: 230px;
	height: 26px;
	border-radius: 5px;
}
.button_cadastrar {
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top: 15px;
	width: 195px;
	height: 50px;
	border: 3px solid #d1d2d4;
	border-radius: 5px;
}
.button_cadastrar h3 {
	font-size: 18px;
	color:#d1d2d4;
}
.contacts_list {
	
	margin-bottom: 10px;
}
.contacts_list div {
	font-size: 13px;
	color:#FFFFFF;
	line-height: 22px;
}
.contacts_list img {
	margin-right: 10px;
}

/* Conteúdos da pagina QuemSomos & Fale Conosco*/

.quemSomos, .faleConosco{
    width: inherit;
    height: inherit;
    color: #ffffff;
    font-size:18px;
    line-height:1.5;
}
.quemSomos h1 {
    color: #ffffff;
    font-size:50px;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.formulario {
    width: 500px;
    height: inherit;
    float: left;
}
.formulario textarea {
    width: 350px;
    height: 150px;
    resize: none;
}
